version: '3.9'

services:
  mysql:
    image: mysql:8.0
    container_name: product-app-mysql
    environment:
      MYSQL_ROOT_PASSWORD: denizalper..2023
      MYSQL_DATABASE: productapp
      MYSQL_USER: product_user
      MYSQL_PASSWORD: strong_password_123
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./docker/init.sql:/docker-entrypoint-initdb.d/init.sql:ro
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7
    container_name: product-app-redis
    ports:
      - "6380:6379"
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    build: ./backend
    container_name: product-app-backend
    environment:
      DB_HOST: mysql
      DB_PORT: "3306"
      DB_USER: product_user
      DB_PASS: strong_password_123
      DB_NAME: productapp
      REDIS_HOST: redis
      REDIS_PORT: "6379"
    ports:
      - "9000:8080"
    depends_on:
      mysql:
        condition: service_healthy
      redis:
        condition: service_healthy

  frontend:
    image: nginx:latest
    container_name: product-app-frontend
    ports:
      - "3000:80"
    volumes:
      - ./frontend:/usr/share/nginx/html:ro

volumes:
  mysql_data:
  redis_data:
